﻿@page "/"
@namespace JbzdBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JbzdBlazor</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<style>
    body {
        background-color: #F8F8F8;
    }
</style>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    


<script src="_framework/blazor.server.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script>
    // Do dodania do historii strony
    $("body").on('DOMSubtreeModified', "#currentPage", function () {
        var currentPageString = $('#currentPage').text();
        console.log("Obecna strona: " + currentPageString);
        if (Number.isInteger(currentPageString));
        history.pushState(null, null, "/page/" + currentPageString);
    });
</script>

</body>
</html>
