﻿@using System.Net.Http
@using JbzdBlazor.Models
@using JbzdBlazor.Services
@using Microsoft.AspNetCore.Components.Web
@using JbzdBlazor.Pages.Components;
@inject IJSRuntime JSRuntime;
@inject JbzdService JbzdServiceMoja
@page "/"
@page "/page/{pageNumber:int}"
<!-- // Do dodania do historii strony-->
<span id="currentPage" style="display:none">@pageNumber</span>

<p class="text-muted text-center" data-toggle="modal" data-target="#inputNumberModal" id="firstPageNumber">Strona: @pageNumber</p>
@if (articles != null)
{
<div class="">
    @foreach (var article in articles)
        {
    <div @onclick="@(e => selectArticle(article))" class="card my-4 shadow-lg rounded-lg mx-auto" data-toggle="modal" data-target="#ModalComments" style="max-width: 500px">
        <div class="card-body py-2">
            <h3 class="card-text text-center font-weight-bold">@article.Title</h3>
        </div>
        <img src="@article.ImageUrl" class="card-img-top" alt="...">
    </div>
        }
</div>

<div class="text-center my-2">
    <button class="btn btn-primary" id="BackButton" @onclick="decrementPageNumber">Poprzednia strona</button>
    <button class="btn btn-primary" id="ForwardButton" @onclick="incrementPageNumber">Następna strona</button>
</div>
<p class="text-center text-muted" data-toggle="modal" data-target="#inputNumberModal">Strona: @pageNumber</p>
<div class="text-center">
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#inputNumberModal">Zmień numer strony</button>
</div>

}
else
{
<div class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
}




<CommentsModal @bind-article="selectedArticle" />
<InputNumberModal InputNumber="pageNumber" OnSave="OnSaveModal" InputLabel="Podaj nowy numer strony" ModalTitle="Zmiana strony" />




@code {
    [Parameter]
    public int pageNumber { get; set; }

    string title = "tytul";
    Article selectedArticle;

    List<Article> articles;

    void increment()
    {
        pageNumber++;
    }

    async Task<List<Article>> getArticles()
    {
        if (pageNumber < 1) pageNumber = 1;
        articles = null;
        articles = await JbzdServiceMoja.GetArticlesOnPageAsync(pageNumber);
        StateHasChanged();
        return articles;
    }

    void incrementPageNumber()
    {
        pageNumber++;
        getArticles();
    }

    void decrementPageNumber()
    {
        if (pageNumber == 1) return;
        pageNumber--;
        getArticles();
    }

    void selectArticle(Article article)
    {
        selectedArticle = article;
    }

    protected override async Task OnInitializedAsync()
    {
        if (pageNumber < 1) pageNumber = 1;
        getArticles();
        StateHasChanged();
    }

    async Task OnSaveModal(int number)
    {
        pageNumber = number;
        getArticles();
    }

}
