﻿@using JbzdBlazor.Models
@using JbzdBlazor.Services
@inject JbzdCommentsService _JbzdCommentsService

<!-- Modal -->
<div class="modal fade" id="ModalComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">
                    @if (article != null)
                    {
                        @article.Title
                    }
                    else
                    {
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    }
                </h5>
            </div>
            <div class="modal-body pt-0">
                @if (commentsList != null)
                {
                    if (commentsList.Count == 0)
                    {
                        <p>Brak komentarzy</p>
                    }
                    @foreach (var comment in commentsList)
                    {
                        <div class="media my-4">
                            <img class="mr-3" src="@comment.UserAvatarURL" width="40px" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="my-0">
                                    @comment.UserName
                                    <span class="badge badge-pill badge-secondary">
                                        @if (@comment.Score > 0)
                                        {
                                        <span>+@comment.Score</span>
                                        }
                                        else
                                        {
                                            @comment.Score
                                        }
                                    </span>
                                </h5>
                                <p class="text-secondary">@comment.CommentContent</p>
                                @foreach (var subcomment in comment.Children)
                                {
                                    <div class="media mt-2">
                                        <a class="pr-3" href="#">
                                            <img src="@subcomment.UserAvatarURL" width="40px" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="my-0">
                                                @subcomment.UserName
                                                <span class="badge badge-pill badge-secondary">
                                                @if (@subcomment.Score > 0)
                                                {
                                                    <span>+@subcomment.Score</span>
                                                }
                                                else
                                                {
                                                    @subcomment.Score
                                                }
                                                </span>
                                            </h5>
                                            <p class="text-secondary">@subcomment.CommentContent</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center mt-3">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="clearCommentsCache" class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

@code {

    List<Comment> commentsList;

    [Parameter] 
    public Article article { get; set; }

    public async Task updateComments(Article article)
    {
        clearCommentsCache();
        if (article != null)
        {
            commentsList = await _JbzdCommentsService.getCommentsAsync(article);
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await updateComments(article);
        return;
    }

    public void clearCommentsCache()
    {
        commentsList = null;
    }


    [Parameter]
    public EventCallback<Article> articleChanged { get; set; }
}
