﻿<!-- Modal -->
<div class="modal fade" id="inputNumberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">@ModalTitle</h5>
            </div>
            <div class="modal-body border-0">
                    <div class="form-group">
                        <label for="exampleInputPassword1">@InputLabel</label>
                        <input type="number" @bind="InputNumber" class="form-control"/>
                    </div>
            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button @onclick="@(() => OnSave.InvokeAsync(InputNumber))"  type="button" class="btn btn-primary" data-dismiss="modal">Przejdź</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public string ModalTitle { get; set; } = "";
    [Parameter] public string InputLabel { get; set; } = "";

    [Parameter] public int InputNumber { get; set; } = 0;

    [Parameter] public EventCallback<int> OnSave { get; set; }


}
